@font-face {
    font-family: 'Josefin';
    src: url('../fonts/JosefinSans-Regular.ttf');
}

*{
    font-family: 'Josefin';
    padding: 0px;
    margin: 0px;
}

#menu {
    align-items: center;
    background-color: #3f51b5;
    box-shadow: 3px 3px 3px black;
    color: white;
    display: flex;    
    height: 100px;
    justify-content: center;    
    text-transform: uppercase;
    width: 100%;
}

#contenedor {
    margin: 0px auto;
    padding: 30px;
    width: 90%;
}

#contenedor section {
    margin: 40px;
    width: 100%;
}

.titulos {
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}

.datos {
    padding: 10px;
}

.lis-datos {
    list-style: none;
}

.lis-datos li {
    padding: 7px;
}